{% extends 'base.html' %}
{% load fontanaymenta_extras %}

{% block robots %}<meta name="robots" content="noindex,follow" />{% endblock %}

{% block title %}Contactate con {{ current_site.name }}{% endblock %}

{% block contenido %}

<!-- Begin Main -->
<div role="main" class="main pgl-bg-grey">
    <!-- Begin page top -->
    <section class="page-top page-top-contacto">
        <div class="container">
            <div class="page-top-in">
                <!--<h2><span>Contáctanos</span></h2>-->
            </div>
        </div>
    </section>
    <!-- End page top -->

    <!-- Begin content with sidebar -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 content">

                <div class="contact">
                    <div id="contact-map" class="pgl-bg-light">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Dirección</strong>
                            <address>9 de Julio 870, Pilar, Córdoba (X5972BIR).<br/>Corrientes 1049, Pilar, Córdoba (X5972AUI)</address>
                        </div>
                        <div class="col-sm-6">
                            <address>
                                <strong>Teléfono.</strong> 3572-436904 / 3572-536634<br>
                                <!--<strong>Fax.</strong> 012.666.999<br>-->
                                <strong>Email.</strong> fontanamenta@gmail.com
                            </address>
                        </div>
                    </div>
                    <hr>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                                <a class="close" data-dismiss="alert">×</a>
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <form id="contact-form" name="form1" method="post" action="">{% csrf_token %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="name">Tu Nombre*</label>
                                        <input type="text" name="name" id="name" class="form-control" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="customer_mail">Tu Email*</label>
                                        <input type="email" name="email" id="email" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="subject">Asunto*</label>
                                        <input type="text" name="subject" id="subject" class="form-control" {% if propiedad %} value="Interés en: {{ propiedad.titulo }}, {{ propiedad.direccion }}"{% endif %} required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message">Mensaje*</label>
                                <textarea rows="9" name="message" id="message" class="form-control" required>{% if propiedad %}Me interesa la propiedad {{ propiedad.titulo }}, me gustaría ...{% endif %}</textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Enviar" class="btn btn-primary min-wide">
                            </div>
                        </form>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
    <!-- End content -->

</div>
<!-- End Main -->

{% endblock contenido %}

{% block extra_files_bottom %}
	<!-- Contact Settings -->
    <!-- ver para mapa: http://www.okler.net/forums/topic/how-to-change-the-map-location/ -->
	<script src="{{STATIC_URL}}js/contact.js"></script>

	<script>

        // Map Markers
        var mapMarkers = [{
            latitude: -31.680794,
            longitude: -63.883138,
            content: "<strong>9 de Julio 870, Pilar, Córdoba</strong>",
            icon: {
                image: "{{STATIC_URL}}images/makers/marker.png",
                iconsize: [26, 33],
                iconanchor: [12, 33]
            }
        }];

        // Map Initial Location
        var initLatitude = -31.680794;
        var initLongitude = -63.883138;

		// Map Extended Settings
		var mapSettings = {
			controls: {
				panControl: true,
				zoomControl: true,
				mapTypeControl: true,
				scaleControl: true,
				streetViewControl: true,
				overviewMapControl: true
			},
			scrollwheel: true,
			markers: mapMarkers,
			latitude: initLatitude,
			longitude: initLongitude,
			zoom: 15
		};

		var map = $("#contact-map").gMap(mapSettings);

		// Map Center At
		var mapCenterAt = function(options, e) {
			e.preventDefault();
			$("#contact-map").gMap("centerAt", options);
		}

	</script>
{% endblock %}